USE [master]
GO
/****** Object:  Database [宿舍管理系统]    Script Date: 2021/5/16 9:49:39 ******/
CREATE DATABASE [宿舍管理系统]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dms', FILENAME = N'D:\桌面\数据库文件\test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'D:\桌面\数据库文件\test_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [宿舍管理系统].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [宿舍管理系统]
GO
/****** Object:  Table [dbo].[Adjust]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjust](
	[sid] [bigint] NOT NULL,
	[adate] [date] NOT NULL,
	[olddid] [int] NOT NULL,
	[newdid] [int] NOT NULL,
	[reason] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[adate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[bid] [char](4) NOT NULL,
	[num] [int] NOT NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dormitory]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dormitory](
	[did] [int] NOT NULL,
	[bid] [char](4) NOT NULL,
	[dnum] [int] NOT NULL,
	[floor] [int] NOT NULL,
	[bed] [int] NOT NULL,
 CONSTRAINT [PK_Dormitory] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[mid] [int] NOT NULL,
	[pass] [char](10) NOT NULL,
	[name] [varchar](10) NOT NULL,
 CONSTRAINT [PK_manager] PRIMARY KEY CLUSTERED 
(
	[mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[sid] [bigint] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[sex] [varchar](2) NOT NULL,
	[birth] [datetime] NOT NULL,
	[college] [varchar](30) NOT NULL,
	[class] [varchar](30) NOT NULL,
	[phone] [bigint] NULL,
	[pass] [char](10) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StuDormitory]    Script Date: 2021/5/16 9:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StuDormitory](
	[did] [int] NOT NULL,
	[sid] [bigint] NOT NULL,
 CONSTRAINT [PK_StuDormitory] PRIMARY KEY CLUSTERED 
(
	[did] ASC,
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adjust]  WITH CHECK ADD  CONSTRAINT [FK__Adjust__olddid__656C112C] FOREIGN KEY([olddid])
REFERENCES [dbo].[Dormitory] ([did])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjust] CHECK CONSTRAINT [FK__Adjust__olddid__656C112C]
GO
ALTER TABLE [dbo].[Adjust]  WITH CHECK ADD  CONSTRAINT [FK__Adjust__sid__6477ECF3] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjust] CHECK CONSTRAINT [FK__Adjust__sid__6477ECF3]
GO
ALTER TABLE [dbo].[Dormitory]  WITH CHECK ADD  CONSTRAINT [FK_Dormitory_Building] FOREIGN KEY([bid])
REFERENCES [dbo].[Building] ([bid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dormitory] CHECK CONSTRAINT [FK_Dormitory_Building]
GO
ALTER TABLE [dbo].[StuDormitory]  WITH CHECK ADD  CONSTRAINT [FK__StuDormitor__sid__0CBAE877] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StuDormitory] CHECK CONSTRAINT [FK__StuDormitor__sid__0CBAE877]
GO
ALTER TABLE [dbo].[StuDormitory]  WITH CHECK ADD  CONSTRAINT [FK_StuDormitory_Dormitory] FOREIGN KEY([did])
REFERENCES [dbo].[Dormitory] ([did])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StuDormitory] CHECK CONSTRAINT [FK_StuDormitory_Dormitory]
GO
USE [master]
GO
